# Pythonでの繰り返し

## 1. for文

In [1]:
print("hello world!")

hello world!

```python
for 新しい変数の名前 in range(繰り返し回数を表す数式):
    任意の繰り返し内容
```

In [2]:
for x in range(4):
    print("x = ", x)

x =  0
x =  1
x =  2
x =  3

In [3]:
x = 2
for y in range(x):
    print("x = ", x)
    print("y = ", y)

x =  2
y =  0
x =  2
y =  1

In [5]:
x = 2
for z in range(3 * x):
    print("x =", x, ", z =", z)
    if z % 2 == 0:
        print("zは偶数")

x = 2 , z = 0
zは偶数
x = 2 , z = 1
x = 2 , z = 2
zは偶数
x = 2 , z = 3
x = 2 , z = 4
zは偶数
x = 2 , z = 5

In [7]:
x = 2
for x in range(x):
    print(x)
print(x)

0
1
1

In [8]:
x = 2
for 2 in range(x):
    print(x)
print(x)

SyntaxError: cannot assign to literal (<ipython-input-8-63a971bb0765>, line 2)

In [8]:
# 3から8まで
x = 6
for y in range(x):
    z = y + 3
    print("y =", y, ", z =", z)

y = 0 , z = 3
y = 1 , z = 4
y = 2 , z = 5
y = 3 , z = 6
y = 4 , z = 7
y = 5 , z = 8

In [7]:
for x in range(3):
    for y in range(4):
        print(x, ",", y)

0 , 0
0 , 1
0 , 2
0 , 3
1 , 0
1 , 1
1 , 2
1 , 3
2 , 0
2 , 1
2 , 2
2 , 3

In [ ]:
import turtle

for x in range(4):
    circle(100)
    forward(100)